.activePersonalizado{
background-color: rgb(0, 88, 131);
    border-radius: 4%;
    color: rgb(255, 255, 255);
};



body{
    background: rgb(231, 238, 255);
}

#jumbotroncss{
background-color: rgb(0, 88, 131); ;
color: rgb(255, 255, 255);
}

a{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: 
}